<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../src/css/images/images/books4you-logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>Books4You</title>
</head>
<body class="body">
  <div class="logo-footer"></div>
  <section class="preview">
    <div class="mockup"></div>
    <div class="projectImage" 
      style="background:url('<%-detail.image%>');
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;" ></div>
    <div class="projectImagePlaceholder"></div>
    <div class="mockup-base"></div>
    <article class="card">
      <h2 class="card__projectTitle"><span class="card__projectTitle--text">Tarjeta del libro</span></h2>
      <div class="card__author">
        <div class="card__authorPhoto" 
          style="background: url('<%-detail.photo%>'); background-repeat: no-repeat;
          background-position: center;
          background-size: cover;"  >
          <div
            class="profile__avatar"
          ></div>
        </div>
        <h3 class="card__name"><%=detail.name%></h3>
        <p class="card__job"><%=detail.country%></p>
      </div>
      <div class="card__project">
        <h3 class="book__title"><%=detail.title%></h3>
        <p class="card__slogan"><%=detail.published%></p>
        <h3 class="card__descriptionTitle">Descripción del libro</h3>
        <p class="card__description"><%=detail.descr%></p>
        <div class="card__technicalInfo">
          <p class="card__technologies"><%=detail.genre%></p>
          <a class="icon icon__www" href="<%=detail.reviews%>" title="Haz click para ver reseñas el libro" target="_blank">
            Enlace a las reseñas
          </a>
          <a class="icon icon__github" href="<%=detail.shop%>" title="Haz click para obtener el libro" target="_blank">
            Enlace al libro
          </a>
        </div>
      </div>
    </article>
  </section>

</body>
</html>